**/bin/
**/obj/
**/out/
**/publish/

*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
*.sln.iml
_ReSharper*/
*.DotSettings.user
.vscode/

packages/
*.nupkg

project.lock.json
project.fragment.lock.json
artifacts/

TestResults/
coverage/

*.mdf
*.ldf

*.log

.DS_Store
Thumbs.db
Desktop.ini